<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>travel app</title>
</head>
 <body class="container">
  <header>Travel Planner</header>
  <main class="index-main-container">
    <form class="form-container">
      <label for="destination">My trip to:</label>
      <input type="text" id="destination" autofocus placeholder="City Name"> <br> <br>
      <label for="depart">Departing:</label>
      <input type="date" id="depart" name="depart"> <br> <br>
      <button type="submit" id="submit">SUBMIT</button>
    </form>
  </main>
  <footer>
    <a href="result.html">result</a>
  </footer>
</body>
</html>