html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-decoration: none;
}

//Base for index.html page

//Use for small screen (mobile phones)
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% auto 10%;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    border: none;
}

//Use for larger screens
@media only screen and (min-width: 600px){
    .container {
        display: grid;
        grid-template-columns: 100px auto 100px;
        grid-template-rows: 10% auto 10%;
        grid-template-areas: 
        ". header ."
        ". main ."
        ". footer ."
        ;
        border: none;
    }     
}

//Base for result.html page

//Use for small screen (mobile screens)
.result-body-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 25% 10% 10% 10% 20% 10%;
    grid-template-areas: 
    "header"
    "image"
    "destination"
    "depart"
    "dategap"
    "weather"
    "footer";
    background-color: #0284C9;
}

//Display for larger screens
@media only screen and (min-width: 600px){
    .result-body-container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 15% 15% 10% 10% 40% 10%;
        grid-template-areas: 
        "header header"
        "image destination"
        "image depart"
        "image dategap"
        "image weather"
        "footer footer";
        background-color: #0284C9;
    }
}