html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    text-decoration: none;
}

//Base for index.html page

//Use for small screen (mobile phones)
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

//Use for larger screens
@media only screen and (min-width: 600px){
    .container {
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-rows: 10% auto 10%;
        grid-template-areas: 
        ". header ."
        ". main ."
        ". footer ."
        ;
    }     
}

//Base for result.html page
.result-body-container {
    display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto 10%;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
        main {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 40% 20% 10% 30%;
            grid-template-areas: 
            "image"
            "des"
            "dategap"
            "weather";
        }
}

//Use for large screens
@media only screen and (min-width: 600px){
    .result-body-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto 10%;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
        main {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 5% 35% 20% 40%;
            grid-template-areas: 
            "image ."
            "image des"
            "image dategap"
            "image weather";
            grid-gap: 5px;
            border-style: solid;
            border-width: 0px 2px;
            border-color: #0284C9;
        }
        overflow: hidden;
    }
}


