footer {
    grid-area: footer;
    background-color: white;
    border: 2px solid #0284C9;
    border-radius: 0 0 3px 3px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

